<p id="notice"><%= notice %></p>

<h1>Retros</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Verdict</th>
      <th>Completed</th>
      <th>Completed date</th>
      <th>User</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @retros.each do |retro| %>
      <tr>
        <td><%= retro.title %></td>
        <td><%= retro.verdict %></td>
        <td><%= retro.completed %></td>
        <td><%= retro.completed_date %></td>
        <td><%= retro.user %></td>
        <td><%= retro.project %></td>
        <td><%= link_to 'Show', retro %></td>
        <td><%= link_to 'Edit', edit_retro_path(retro) %></td>
        <td><%= link_to 'Destroy', retro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Retro', new_retro_path %>
